<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  
  <servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.datamask.masquerade.server.LoginServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/masquerade/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ConfigurationServiceServlet</servlet-name>
		<servlet-class>com.datamask.masquerade.server.ConfigurationServiceImpl</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ConfigurationServiceServlet</servlet-name>
		<url-pattern>/masquerade/configurationservice</url-pattern>
	</servlet-mapping>
  
  <servlet>
		<servlet-name>maskServiceServlet</servlet-name>
		<servlet-class>com.datamask.masquerade.server.MaskServiceImpl</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>maskServiceServlet</servlet-name>
		<url-pattern>/masquerade/maskservice</url-pattern>
	</servlet-mapping>
  
  <servlet>
		<servlet-name>settingServlet</servlet-name>
		<servlet-class>com.datamask.masquerade.server.SettingServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>settingServlet</servlet-name>
		<url-pattern>/masquerade/settingservice</url-pattern>
	</servlet-mapping>
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Masquerade.html</welcome-file>
  </welcome-file-list>

</web-app>
